.game-image-wrapper {
    width: 100%;
    height: 86.5vh;
    /* height: 86vh; */
    position: relative;
    overflow: auto;
}

.target-box.hidden {
    display: none;
}

.target-box {
    position: absolute;
    border: 4px solid red;
    width: 30px;
    height: 30px;
}

.target-btns {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.target-btns button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    outline: none;
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.target-btns button:hover, .target-box:focus {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.game-image {
    display: block;
}

.game-image.zoom-out {
    width: 100%;
    height: 100%;
}

.zoom-btn {
    cursor: pointer;
    position: fixed;
    width: 45px;
    display: flex;
    background-color: var(--primary-color);
    border: none;
    top: 9%;
    left: 2%;
    border-radius: 50%;
    padding: .5rem;
    outline: none;
}

.zoom-btn img {
    width: 100%;
    filter: 
    brightness(0)
    saturate(100%) 
    invert(99%) 
    sepia(0%) 
    saturate(3081%) 
    hue-rotate(72deg) 
    brightness(127%) 
    contrast(84%);
}

.form-modal.hidden {
    display: none;
}

.form-modal {
    position: fixed;
    width: fit-content;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 30%;
    background-color: var(--secondary-color);
    padding: 1rem;
    border: 3px solid var(--primary-color);
    z-index: 1;
}

.form-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-modal form label {
    display: block;
    color: var(--primary-color);
    font-size: clamp(1rem, .5rem + 2vw, 1.3rem);
}

.form-modal form p {
    font-size: clamp(1rem, .5rem + 2vw, 1.3rem);
    font-family: "knewave", "roboto", sans-serif;
    letter-spacing: .05rem;
    color: var(--primary-color);
}

.form-modal form input {
    font-size: 1rem;
    padding: .2rem;
    outline: none;
    border: 2px solid var(--primary-color);
}

.form-modal form input:hover, 
.form-modal form input:focus {
    border-color: var(--text-dark);
}

.form-modal button {
    cursor: pointer;
    border: 2px solid var(--primary-color);
    outline: none;
    font-size: 1rem;
    padding: .4rem 1rem;
    font-family: "knewave", "roboto", sans-serif;
    letter-spacing: .05rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.form-modal button:hover, .form-modal button:focus {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.errors {
    list-style: none;
    width: 100%;
}

.error {
    max-width: 20ch;
    word-break: break-word;
}

/* main.game-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
} */